html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(47, 47, 71);
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    padding: 10px;
}