html, body {
  margin: 0;
  height: 500px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  background: #282D35;
  background-image: url('./assets/react-icon-large.png');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  padding: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.logo-title {
  display: flex;
  align-items: center;
  color: #61DAFB;
}

.nav-items {
  list-style: none;
  display: flex;
  padding: 10px 15px 10px 15px;
}

.nav-items li {
  padding: 10px;
}

.con-items {
  padding: 20px 0px 20px 20px;
  font-weight: 400;
  font-size: x-large;
  width: 600px;
}

li {
  padding: 8px 0 8px 0;
}

li::marker {
  color: #61DAFB;
  font-size: xx-large;
}

.footer {
  padding-left: 20px;
}
